<?xml version="1.0" encoding="ISO-8859-1" ?>

<config>

    <study>
        <title>IBIS (Infant Brain Imaging Study) Network for Autism Research </title>
        <useEDC>false</useEDC>
        <ageMin>0</ageMin>
        <ageMax>5</ageMax>
        <multipleSites>true</multipleSites>
        <!-- true/false - use family ID? -->
        <useFamilyID>false</useFamilyID>
        <startYear>2007</startYear>
        <endYear>2012</endYear>
        
        <PSCID>
          <generation>sequential</generation>
          <structure>
	    <seq type="siteAbbrev"/>
            <seq type="numeric" length="4"/>
	  </structure>
        </PSCID>

        <visits>4</visits>
        <objectives>3</objectives>
        <subprojects>
            <subproject>
                <id>1</id>
		<title>6 month recruit</title>
		 <options>
                    <useEDC>false</useEDC>
                </options>
            </subproject>

	    <subproject>
                <id>2</id>
		<title>12 month recruit</title>                
		<options>
                    <useEDC>false</useEDC>
                </options>
            </subproject>

          <subproject>
                <id>3</id>
                <title>Control</title>
                <options>
                    <useEDC>false</useEDC>
                </options>
            </subproject>
       </subprojects>

       <visitLabel subprojectID="1">
            <generation>user</generation>
            <regex>/^[A-Z0-90-9]{3}$/i</regex>
            <suggest>V%value%</suggest> 
            <length>3</length>
        </visitLabel>
           
        <visitLabel subprojectID="2">
               <generation>user</generation>
               <regex>/^[A-Z0-90-9]{3}$/i</regex>
               <suggest>V%value%</suggest>
               <length>3</length>
        </visitLabel>

        <visitLabel subprojectID="3">
               <generation>user</generation>
               <regex>/^[A-Z0-90-9]{3}$/i</regex>
               <suggest>V%value%</suggest>
               <length>3</length>
        </visitLabel>

        <useScreening>true</useScreening>
        <screeningAfterVisit>false</screeningAfterVisit>
        <doubleDataEntry>0</doubleDataEntry>

    </study>

    <main_menu_tabs>
        <tab>
            <link>new_profile</link>
            <label>New Profile</label>
            <access>all</access>
            <permissions>
            </permissions>
            <visible>1</visible>
        </tab>
        <tab>
            <link>candidate_list</link>
            <label>Access Profile</label>
            <access>all</access>
            <permissions></permissions>
            <visible>1</visible>
        </tab>
        <tab>
            <link>timepoint_flag</link>
            <label>Exclusion</label>
            <access>all</access>
            <permissions>
                <perm>timepoint_flag</perm>
                <perm>timepoint_flag_evaluate</perm>
            </permissions>
            <visible>1</visible>
        </tab>
        <tab>
            <link>db_statistics</link>
            <label>Database Statistics</label>
            <access>all</access>
            <permissions>
            </permissions>
            <visible>0</visible>
        </tab>
        <tab>
            <link>user_accounts</link>
            <label>User Accounts</label>
            <access>all</access>
            <permissions>
                <perm>user_accounts</perm>
            </permissions>
            <visible>1</visible>
        </tab>
	<tab>
            <link>mri_parameter_forms</link>
            <label>MRI Parameter forms</label>
            <access>all</access>
           <permissions>
            </permissions>
            <visible>0</visible>
        </tab>
        <tab>
            <link>certification</link>
            <label>Certification</label>
            <access>all</access>
            <permissions>
                <perm>certification</perm>
                <perm>certification_multisite</perm>
            </permissions>
            <visible>0</visible>
        </tab>
	</main_menu_tabs>

        <links>
		<link url='mri_browser.php?' args='MRIBrowser'>MRI Browser</link>
		<link url='https://nihace.bic.mni.mcgill.ca/mantis'>Report a Bug (Mantis)</link>
                <link url='https://nihpd.bic.mni.mcgill.ca/mri_stats.php'>Database Statistics</link>
		<link url='https://nihace.bic.mni.mcgill.ca/owl-0.94/'>Document repository (OWL)</link>
		<link url='http://nihace.net'>NIHACE Web Site</link>
                <link url='query_gui.php'>Query GUI</link>                 
		<link url='context_help_popup.php'>Help</link>
	</links>

        <multiSiteEnabledCenters>
	    <a>1</a>
	</multiSiteEnabledCenters>

        <paths>
	    <base>/export-01/nihace/www/neurodb/</base>
	    <!-- need to get space to store data-->
	    <data>/export-01/nihace/mri-data/</data>
	    <imagePath>/export-01/nihace/mri-data/</imagePath>
	</paths>
  
	<database>
            <host>zaphod.bic.mni.mcgill.ca</host>
	    <username>nihacedb</username>
	    <password>$e%ualCh0c0l8</password>
	    <database>nihaceProd</database>
	    <name>Production Database</name>
        </database>
    
        <gui>
	    <rowsPerPage>25</rowsPerPage>
	    <showTiming>0</showTiming>
	    <showPearErrors>0</showPearErrors>
	    <showDatabaseQueries>0</showDatabaseQueries>
	    <css>nihace.css</css>
	    <PopUpFeedbackBVL>true</PopUpFeedbackBVL>

        </gui>
    
        <mri>
        <!-- ignore this section if not using Efax -->
        <efax>
            <backup_dir>[PATH TO BACKUP DIR]</backup_dir>
            <new_dir>[PATH TO NEW-FILES DIR]</new_dir>
            <assigned_dir>[PATH TO ASSIGNED DIR]</assigned_dir>
            <!-- sometimes the same as the new_dir -->
            <unassigned_dir>[PATH TO UNASSIGNED DIR]</unassigned_dir>
        </efax>
    </mri>

    <!-- Get Jonathan to tell me about this-->
    <mail>
        <headers>
            <From>user@example.com</From>
            <Reply-to>user@example.com</Reply-to>
            <X-MimeOLE>Produced by MRDB</X-MimeOLE>
        </headers>
    </mail>

    <www>
        <host>nihace.bic.mni.mcgill.ca</host>
        <url>https://nihace.bic.mni.mcgill.ca</url>
        <mantis_url>https://nihace.bic.mni.mcgill.ca/mantis</mantis_url>
    </www>
</config>
